<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aitechlab.oes.dao.AnswerinfoMapper" >
  <resultMap id="BaseResultMap" type="cn.aitechlab.oes.model.Answerinfo" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="examscore_id" property="examscoreId" jdbcType="INTEGER" />
    <result column="exam_id" property="examId" jdbcType="INTEGER" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, examscore_id, exam_id, answer, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select 
    <include refid="Base_Column_List" />
    from answerinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from answerinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.aitechlab.oes.model.Answerinfo" >

    insert into answerinfo (id, examscore_id, exam_id, 
      answer, flag)
    values (#{id,jdbcType=INTEGER}, #{examscoreId,jdbcType=INTEGER}, #{examId,jdbcType=INTEGER}, 
      #{answer,jdbcType=VARCHAR}, #{flag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.aitechlab.oes.model.Answerinfo" >

    insert into answerinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examscoreId != null" >
        examscore_id,
      </if>
      <if test="examId != null" >
        exam_id,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examscoreId != null" >
        #{examscoreId,jdbcType=INTEGER},
      </if>
      <if test="examId != null" >
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.aitechlab.oes.model.Answerinfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update answerinfo
    <set >
      <if test="examscoreId != null" >
        examscore_id = #{examscoreId,jdbcType=INTEGER},
      </if>
      <if test="examId != null" >
        exam_id = #{examId,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.aitechlab.oes.model.Answerinfo" >

    update answerinfo
    set examscore_id = #{examscoreId,jdbcType=INTEGER},
      exam_id = #{examId,jdbcType=INTEGER},
      answer = #{answer,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>