<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aitechlab.oes.dao.ExamPaperMapper" >
  <resultMap id="BaseResultMap" type="cn.aitechlab.oes.model.ExamPaper" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="examinfo_id" property="examinfoId" jdbcType="INTEGER" />
    <result column="examscore_id" property="examscoreId" jdbcType="INTEGER" />
    <result column="answerpaper_id" property="answerpaperId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, examinfo_id, examscore_id, answerpaper_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select 
    <include refid="Base_Column_List" />
    from examanswer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from examanswer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.aitechlab.oes.model.ExamPaper" >

    insert into examanswer (id, examinfo_id, examscore_id, 
      answerpaper_id)
    values (#{id,jdbcType=INTEGER}, #{examinfoId,jdbcType=INTEGER}, #{examscoreId,jdbcType=INTEGER}, 
      #{answerpaperId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.aitechlab.oes.model.ExamPaper" >

    insert into examanswer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examinfoId != null" >
        examinfo_id,
      </if>
      <if test="examscoreId != null" >
        examscore_id,
      </if>
      <if test="answerpaperId != null" >
        answerpaper_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examinfoId != null" >
        #{examinfoId,jdbcType=INTEGER},
      </if>
      <if test="examscoreId != null" >
        #{examscoreId,jdbcType=INTEGER},
      </if>
      <if test="answerpaperId != null" >
        #{answerpaperId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.aitechlab.oes.model.ExamPaper" >

    update examanswer
    <set >
      <if test="examinfoId != null" >
        examinfo_id = #{examinfoId,jdbcType=INTEGER},
      </if>
      <if test="examscoreId != null" >
        examscore_id = #{examscoreId,jdbcType=INTEGER},
      </if>
      <if test="answerpaperId != null" >
        answerpaper_id = #{answerpaperId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.aitechlab.oes.model.ExamPaper" >

    update examanswer
    set examinfo_id = #{examinfoId,jdbcType=INTEGER},
      examscore_id = #{examscoreId,jdbcType=INTEGER},
      answerpaper_id = #{answerpaperId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>