<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aitechlab.oes.dao.ExamineeMapper" >
  <resultMap id="BaseResultMap" type="cn.aitechlab.oes.model.Examinee" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="identity_num" property="identityNum" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, user_id, user_name, identity_num, user_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select 
    <include refid="Base_Column_List" />
    from examinee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from examinee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.aitechlab.oes.model.Examinee" >

    insert into examinee (id, user_id, user_name, 
      identity_num, user_type)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{identityNum,jdbcType=VARCHAR}, #{userType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.aitechlab.oes.model.Examinee" >

    insert into examinee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="identityNum != null" >
        identity_num,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="identityNum != null" >
        #{identityNum,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.aitechlab.oes.model.Examinee" >

    update examinee
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="identityNum != null" >
        identity_num = #{identityNum,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.aitechlab.oes.model.Examinee" >

    update examinee
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      identity_num = #{identityNum,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getExamineeByuserId" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List"/>
  from examinee
    where
    user_id = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>