<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aitechlab.oes.dao.ExamInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.aitechlab.oes.model.ExamInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="exam_subject" property="examSubject" jdbcType="VARCHAR" />
    <result column="exam_name" property="examName" jdbcType="VARCHAR" />
    <result column="exam_content" property="examContent" jdbcType="VARCHAR" />
    <result column="exam_date" property="examDate" jdbcType="VARCHAR" />
    <result column="exam_time" property="examTime" jdbcType="VARCHAR" />
    <result column="total_time" property="totalTime" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ExamInfoDTOMap" type="cn.aitechlab.oes.dto.ExamInfoDTO" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="exam_subject" property="examSubject" jdbcType="VARCHAR" />
    <result column="exam_name" property="examName" jdbcType="VARCHAR" />
    <result column="exam_content" property="examContent" jdbcType="VARCHAR" />
    <result column="exam_date" property="examDate" jdbcType="VARCHAR" />
    <result column="exam_time" property="examTime" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, exam_subject, exam_name, exam_content, exam_date, exam_time, total_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select 
    <include refid="Base_Column_List" />
    from examinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from examinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.aitechlab.oes.model.ExamInfo" >

    insert into examinfo (id, exam_subject, exam_name, 
      exam_content, exam_date, exam_time, 
      total_time, remark)
    values (#{id,jdbcType=INTEGER}, #{examSubject,jdbcType=VARCHAR}, #{examName,jdbcType=VARCHAR}, 
      #{examContent,jdbcType=VARCHAR}, #{examDate,jdbcType=VARCHAR}, #{examTime,jdbcType=VARCHAR}, 
      #{totalTime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.aitechlab.oes.model.ExamInfo" >

    insert into examinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examSubject != null" >
        exam_subject,
      </if>
      <if test="examName != null" >
        exam_name,
      </if>
      <if test="examContent != null" >
        exam_content,
      </if>
      <if test="examDate != null" >
        exam_date,
      </if>
      <if test="examTime != null" >
        exam_time,
      </if>
      <if test="totalTime != null" >
        total_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examSubject != null" >
        #{examSubject,jdbcType=VARCHAR},
      </if>
      <if test="examName != null" >
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examContent != null" >
        #{examContent,jdbcType=VARCHAR},
      </if>
      <if test="examDate != null" >
        #{examDate,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null" >
        #{examTime,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null" >
        #{totalTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.aitechlab.oes.model.ExamInfo" >

    update examinfo
    <set >
      <if test="examSubject != null" >
        exam_subject = #{examSubject,jdbcType=VARCHAR},
      </if>
      <if test="examName != null" >
        exam_name = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examContent != null" >
        exam_content = #{examContent,jdbcType=VARCHAR},
      </if>
      <if test="examDate != null" >
        exam_date = #{examDate,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null" >
        exam_time = #{examTime,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null" >
        total_time = #{totalTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.aitechlab.oes.model.ExamInfo" >

    update examinfo
    set exam_subject = #{examSubject,jdbcType=VARCHAR},
      exam_name = #{examName,jdbcType=VARCHAR},
      exam_content = #{examContent,jdbcType=VARCHAR},
      exam_date = #{examDate,jdbcType=VARCHAR},
      exam_time = #{examTime,jdbcType=VARCHAR},
      total_time = #{totalTime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectExamInfoByUserId" resultMap="ExamInfoDTOMap">
    select a.user_id,c.*
    from examinee a,examscore b,examinfo c
    where a.user_id=b.user_id and b.examinfo_id=c.id and a.user_id=#{userId}
</select>
</mapper>


