<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aitechlab.oes.dao.ExamMapper" >
  <resultMap id="BaseResultMap" type="cn.aitechlab.oes.model.Exam" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="examinfo_id" property="examinfoId" jdbcType="INTEGER" />
    <result column="questioninfo_id" property="questioninfoId" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="ExamQuestionDTOMap" type="cn.aitechlab.oes.dto.ExamQuestionDTO" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="question_content" property="questionContent" jdbcType="VARCHAR" />
    <result column="option_a" property="optionA" jdbcType="VARCHAR" />
    <result column="option_b" property="optionB" jdbcType="VARCHAR" />
    <result column="option_c" property="optionC" jdbcType="VARCHAR" />
    <result column="option_d" property="optionD" jdbcType="VARCHAR" />
    <result column="option_e" property="optionE" jdbcType="VARCHAR" />
    <result column="option_f" property="optionF" jdbcType="VARCHAR" />
    <result column="correct_score" property="correctScore" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, examinfo_id, questioninfo_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select 
    <include refid="Base_Column_List" />
    from exam
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from exam
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.aitechlab.oes.model.Exam" >

    insert into exam (id, examinfo_id, questioninfo_id
      )
    values (#{id,jdbcType=INTEGER}, #{examinfoId,jdbcType=INTEGER}, #{questioninfoId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.aitechlab.oes.model.Exam" >

    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examinfoId != null" >
        examinfo_id,
      </if>
      <if test="questioninfoId != null" >
        questioninfo_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examinfoId != null" >
        #{examinfoId,jdbcType=INTEGER},
      </if>
      <if test="questioninfoId != null" >
        #{questioninfoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.aitechlab.oes.model.Exam" >

    update exam
    <set >
      <if test="examinfoId != null" >
        examinfo_id = #{examinfoId,jdbcType=INTEGER},
      </if>
      <if test="questioninfoId != null" >
        questioninfo_id = #{questioninfoId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.aitechlab.oes.model.Exam" >

    update exam
    set examinfo_id = #{examinfoId,jdbcType=INTEGER},
      questioninfo_id = #{questioninfoId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectExamQuestionByexamName" resultMap="ExamQuestionDTOMap">
    select c.id,c.question_content,c.option_a,c.option_b,c.option_c,c.option_d,c.option_e,c.option_f,c.correct_score
    from examinfo a,exam b,questioninfo c
    where a.id=b.examinfo_id and b.questioninfo_id=c.id and a.exam_name=#{examName};
</select>

</mapper>